/* CSS for a modern and mobile-friendly UI */
@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");

body {
  background-color: #ff8833;
  margin: 0;
  padding: 0;
  font-family: "Skranji", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.4s;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-top: 1%;
  color: #ffffff;
  font-family: "Skranji", cursive;
  text-align: center;
  letter-spacing: 0.1rem;
}

p {
  margin: 5%;
  letter-spacing: 0.1rem;
  font-family: "Skranji", cursive;
  padding: 0%;
  font-size: 2.1rem;
  color: #ffffff;
  text-align: center;
}

.progress-bar {
  margin: 10px;
  width: 80%;
  height: 2rem;
  border-radius: 0.2rem;
  background-color: #0000007a;
  position: relative;
  transition: width 0.4s, background-color 2s ease;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  border-radius: 0.2rem;
  background-color: #bbeb97;
  position: absolute;
  transition: width 0.4s, background-color 2s ease;
}

/* Button styles */
.button {
  position: center;
  color: rgb(90, 63, 63);
  font-size: 1.6em;
  font-family: "Skranji", cursive;
  transition: 0.2s ease;
}

.button:hover {
  background-color: #d2c2c2;
  font-size: 1.8em;
}

/* Dropdown styles */
.dropdown {
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #6a4646;
  font-size: 1.4em;
}

.dropdown-content a {
  color: #b77f7f;
  transition: 0.2s;
  text-align: center;
  font-family: "Skranji", cursive;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #dfc4c4;
  font-size: 1.8em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
  animation: shake infinite cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

/* Media queries */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1px;
}

strong {
  font-weight: bold;
}

div#rss-container {
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(255, 246, 246, 0.1);
  padding: 1px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.6em;
  }
  .progress-bar {
    width: 80%;
  }
}
