/* CSS for a cute and soft UI */
@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");
body {
  background-color: #f9d5e5;
  margin: 0;
  padding: 0;
  font-family: "Skranji", cursive;
  display: flex;
  flex-direction: column;
  transition: background-color, 0.4s;
  align-items: center;
}

h1 {
  font-size: 6.5rem;
  font-weight: bold;
  margin-top: 1%;
  color: #b86a84;
  font-family: "Skranji", cursive;
  text-align: center;
  letter-spacing: 0.1rem;
  transition: color 0.4s;
}

h1:hover {
  color: #a76178;
}

p {
  margin: 5%;
  letter-spacing: 0.3rem;
  font-family: "Skranji", cursive;
  padding: 0%;
  font-size: 4.1rem;
  color: #ff80ab;
  text-align: center;
  transition: 0.4s;
}

p:hover {
  color: #ff4081;
}

.progress-bar {
  margin: 10px;
  width: 80%;
  animation: none;
  border-style: none;
  height: 4rem;
  border-radius: 0.1rem;
  background-color: #ffffff;
  position: relative;
  transition: 0.4s;
  overflow: hidden;
  /* hide the overflow of the progress bar */
}

.progress-bar span {
  display: block;
  height: 100%;
  animation: shake infinite;
  border-radius: 0.1rem;
  background-color: #ff80ab;
  position: absolute;
  transition:
    width 0.4s,
    background-color 2s ease;
  /* add a transition to the width property */
}

.progress-bar:hover span {
  background-color: #ff4081;
}

/* Button styles */
.button {
  position: center;
  color: #ffffff;
  font-size: 1.8em;
  font-family: "Skranji", cursive;
  transition: 0.1s ease;
  background-color: #ff80ab;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.button:hover {
  background-color: #ff4081;
  font-size: 1.85em;
  cursor: pointer;
}

/* Dropdown styles */
.dropdown {
  position: center;
}

.dropdown-content {
  display: none;
  position: center;
  z-index: 1;
  background-color: #ffffff;
  font-size: 1.5em;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
  color: #ff80ab;
  transition: 0.2s;
  text-align: center;
  font-family: "Skranji", cursive;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ff4081;
  font-size: 1.6em;
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
  animation: shake infinite cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

/* Media queries */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1px;
}

strong {
  font-weight: bold;
}

div#rss-container {
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(255, 246, 246, 0.1);
  padding: 1px;
  align-self: center;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.5em;
  }

  p {
    font-size: 2.1em;
  }

  .progress-bar {
    width: 80%;
  }
}
